<div>
  <h3>Dear {{ user.first_name }},</h3>
  <p>
    Welcome! To confirm your account please click on the following <a href="{{ url_for('auth.confirm', token=token, _external=True) }}" >link.</a>
  </p>
  <p>
    Sincerely,<br>
    Our team<br>
    <small>Note: replies to this email address are not monitored.</small>
  </p>
</div>
