<div>
  <p>
    You are recieving this email because you requested a password reset.
  </p>
  <p>Click <a href="{{ url_for('auth.reset', token=token, _external=True) }}">here</a> to reset your password</p>
</div>
