Dear {{ user.first_name }},
Welcome!
To set your password please click on the following link:
{{ url_for('acct.set-pw', token=token, _external=True) }}
Sincerely,
Note: replies to this email address are not monitored.
