{% extends "base.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Remove User{% endblock %}

{% block page_content %}
  <div class="col-md-6 col-md-offset-3">
    <h1>Remove User</h1>
    {{ wtf.quick_form(form) }}
  </div>
{% endblock %}
